<div id="contact" class="footer flex flex-col anchor-fix">
	<div class="w-full py-16 text-white bg-footer-dark bg-center bg-no-repeat" style="background-image: url(/assets/img/map-image.png);">
		<h1 class="w-full text-center font-semibold text-4xl uppercase">Contactez Nous</h1>
		<form class=" flex flex-wrap items-center justify-center w-fit-content mx-auto my-10" action="">
			<div class="flex flex-wrap max-w-lg sm:min-w-48 px-6 justify-center mt-5">
				<input type="text" class="py-3 pl-6 rounded w-full bg-white mb-5 text-lg h-fit-content" placeholder="Your Name *">
				<input type="text" class="py-3 pl-6 rounded w-full bg-white mb-5 text-lg h-fit-content" placeholder="Your Email *">
				<input type="text" class="py-3 pl-6 rounded w-full bg-white text-lg h-fit-content" placeholder="Your Phone">
			</div>
			<div class="h-56 sm:min-w-56 max-w-lg flex flex-grow flex-shrink px-6 mt-5">
				<textarea class="w-full h-full bg-white rounded text-gray-500 text-lg p-4" name="message" placeholder="hello">Your Message</textarea>
			</div>
			<div class="w-full flex justify-center">
				<button class=" font-semibold uppercase text-xl py-2 px-6 bg-orange-500 rounded mt-12 duration-200 hover:bg-orange-600 focus:bg-orange-600" type="submit">
					Envoyer
				</button>
			</div>
		</form>
	</div>
</div>
