    <div id="footer">
      <!-- Shell -->
      <div class="shell">
        <div class="footer-cols">
          <div class="footer-cols-b">
            <div class="col">
              <h5 class="style1">Contact</h5>
              <div class="text-holder">
                <p>
                  <strong
                    >Institute of Certified<br />
                    Forensic Accountants </strong
                  ><br />
                  3422 Old Capitol Trail<br />
                  Suite 1063, Wilmington<br />
                  DE 19808-6192, USA
                </p>
                Tel: &nbsp;&nbsp;&nbsp; + 1 302-425-5528<br />
                FAX: &nbsp;&nbsp;+ 1 302-996-5818
                <p>
                  Email:&nbsp;<a href="/mailto:info@forensicglobal.org"
                    ><font color="#ffffff">info@forensicglobal.org</font> </a
                  ><br />
                  &nbsp;
                </p>
              </div>
            </div>
            <div class="col">
              <h5 class="style1">Join</h5>
              <ul>
                <li><a href="/associate.html">Associate Membership</a></li>
                <li><a href="/fellowship.html">Fellowship Membership</a></li>
                <li><a href="/reps.html">Global Representatives</a></li>
                <li><a href="/approved.html">Approved Teaching Schools</a></li>
                <li><a href="/fees.html">Fee Structure</a></li>
              </ul>
            </div>
            <div class="col">
              <h5 class="style1">Members</h5>
              <ul>
                <li><a href="/newmembers.html">New Members</a></li>
                <li>
                  <a href="/financejobs.html">Accountancy and Finance Jobs</a>
                </li>
                <li><a href="/ethics.html">Professional Standards</a></li>
                <li><a href="/cpd.html">CPD Guidelines</a></li>
                <li><a href="/onlinecpd.html">Online CPD</a></li>
                <li>
                  <a href="/cpdarticle.html"
                    >Keep your Career Moving with CPD</a
                  >
                </li>
                <li><a href="/maintain.html">Maintain your Membership</a></li>
              </ul>
            </div>
            <div class="col last">
              <h5 class="style1">More Links</h5>
              <ul>
                <li><a href="/privacy.html">Privacy Poliicy</a></li>
                <li><a href="/sitemap.html">Sitemap</a></li>
                <li>&nbsp;</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p class="left">© Institute of Certified Forensic Accountants 2016</p>
          <p>&nbsp;</p>
        </div>
      </div>
      <!-- End Shell -->
    </div>
    <!-- End Footer -->