<h1 id="objectives" class="py-3 text-4xl font-semibold text-gray-900 text-center uppercase anchor-fix">Objectifs</h1>
<div class=" flex items-center justify-evenly flex-wrap my-3 max-w-screen-2xl mx-auto">
	<div class="w-full sm:w-6/12 sm:pl-6">
		<img src="/assets/img/objectifs/objectif.jpg" alt="ooscisca objectives, little boy goalkeeping in muddy football field" class="objective-image min-w-40 max-w-screen-sm h-auto w-full mt-5">
	</div>
	<div class="sm:min-w-lg w-full sm:w-6/12 pl-12 pr-4 text-gray-800  flex flex-col mt-5">
		<ul class="objectives flex-grow max-h-full xl:text-lg leading-snug">
			<li class="mb-4 relative">
				Etudier les mutations des sociétés rurales, urbaines et industrielles en
																				                        transition.
			</li>
			<li class="mb-4 relative ">
				Promouvoir de façon pédagogique, participative ou collégiale de nouvelles
																				                        approches scientifiques
																				                        des changements et des innovations.</li>
			<li class="mb-4 relative">
				Promouvoir un partenariat scientifique exigent et équitable.</li>
			<li class="mb-4 relative ">Promouvoir l’approche comparée, le partage des bases de données
																				                        ou des
																				                        systèmes d’informations, le
																				                        travail d’équipe en réseau dans le cadre de l’observation scientifique et sa valorisation.
			</li>
			<li class="my-4 relative ">
				Promouvoir l’encadrement scientifique de base et de haut niveau (thèses, rapports, mémoire et
																				                        articles …)
			</li>
		</ul>
		<a href="#" class="text-orange-600 text-sm">See more ...</a>
	</div>
</div>
