<div class="welcome w-full text-center pt-10 md:pt-16 lg:pt-20 pb-6 md:pb-10 lg:pb-12 italic">
	<h1 class="text-6xl md:text-7xl font-black font-tangerine">Bienvenue</h1>
	<p class=" text-base sm:text-lg xl:text-xl font-light leading-relaxed max-w-screen-sm mx-auto px-4">
		This is a concept whose main goal is to standardize default styles across browsers and so your design
				                may look great. This text and its headings are unsing a different font-family to make it look more
				                Elegant.
	</p>
	<h2 class="text-5xl font-bold pt-0 xl:pt-5 font-tangerine-bold">Signature</h2>
</div>
