---

thumbnail:
    src: "numeric library - dark.jpg"

description: "L'Unesco a eu la grande idée de donner accès gratuitement à la bibliothèque numérique mondiale sur
Internet.
Un beau cadeau à toute l'humanité !"

keywords: ['bibliothèque mondiale', 'Ebooks']
tags: ['lecture', 'culture', 'UNESCO']
author: 'Dr.Taptue Pierre'
date: "2020-11-12"
---

<div class="w-full py-10 px-2 leading-relaxed font-normal text-gray-800 flex flex-col">

    <p class="py-3">
        Voici un beau cadeau qui ne vient pas de moi, mais de toute l'humanité et mis à disposition par l'UNESCO.
        L'Unesco a eu la grande idée de donner accès gratuitement à la bibliothèque numérique mondiale sur Internet.
        Un beau cadeau à toute l'humanité !
        Voici le lien : 
        <a class="text-blue-500  hover:text-blue-600" target="_blank" href="https://www.wdl.org/fr">
            https://www.wdl.org/fr
        </a>
        pour la France. Il rassemble des cartes, des textes, des photos, des
        enregistrements et des films de tous les temps et explique les joyaux et les reliques culturelles de toutes les
        bibliothèques de la planète, disponible en sept langues.

        Profitez-en et faites-en profiter votre entourage.

        Et puis plusieurs liens qui intéresseront les amateurs de musée, d’opéra, de cinéma.
    </p>

    <p class="py-3">
        La Fnac a mis une sélection de 500 livres gratuits à télécharger, je vous mets le lien:
        <a class="text-blue-500  hover:text-blue-600" target="_blank"
            href="https://livre.fnac.com/n309183/Tous-les-Ebooks-gratuits">
            https://livre.fnac.com/n309183/Tous-les-Ebooks-gratuits
        </a>
    </p>

    Quelques lieux ou spectacles culturels que vous pouvez visiter depuis chez vous:

    <ul class="w-auto py-4">
        <li>
            - L' Opéra National de Paris met en ligne gratuitement ses spectacles sur 
            <a class="text-blue-500  hover:text-blue-600" target="_blank" href="https://lnkd.in/gwdGY8n">
                https://lnkd.in/gwdGY8n
            </a>
        </li>

        <li>
            - Le Metropolitan Opera de New York va diffuser gratuitement ses spectacles
            <a class="text-blue-500  hover:text-blue-600" target="_blank" href="https://bit.ly/2w2QXbP">
                https://bit.ly/2w2QXbP
            </a>
        </li>

        <li>
            - La Cinémathèque Française propose ses 800 masterclass, essais & conférences en vidéo,
            500 articles sur ses collections & ses programmations
            <a class="text-blue-500  hover:text-blue-600" target="_blank" href="https://lnkd.in/ghCcNKn">
                https://lnkd.in/ghCcNKn
            </a>
        </li>

        <li>
            - Le Forum des Images propose de visionner ses rencontres
            <a class="text-blue-500  hover:text-blue-600" target="_blank" href="https://lnkd.in/gFbzp5q">
                https://lnkd.in/gFbzp5q
            </a>
        </li>

        <li>
            - Centre Pompidou : Vous pouvez écouter les podcasts dédiés aux œuvres grâce au Centre Pompidou
            <a class="text-blue-500  hover:text-blue-600" target="_blank" href="https://lnkd.in/gGifD3r">
                https://lnkd.in/gGifD3r
            </a>
        </li>

        <li>
            - Musées : 10 musées en ligne à visiter depuis son canapé
            <a class="text-blue-500  hover:text-blue-600" target="_blank" href="https://lnkd.in/gV_S_Gq">
                https://lnkd.in/gV_S_Gq
            </a>
        </li>

        <li>
            -1150 films sont disponibles sur
            <a class="text-blue-500  hover:text-blue-600" target="_blank" href="https://lnkd.in/gspcqCm">
                https://lnkd.in/gspcqCm
            </a>
        </li>

    </ul>
     
</div>