---
type: PDF
pdf:
    src: APPEL A COMMUNICATIONS.pdf

thumbnail:
    src: APPEL A COMMUNICATIONS.jpg
description: "Thème: La question sociale au Cameroun, les formes, enjeux et pistes de réponses." 

keywords: ['sociologie', 'cameroun', 'Education', 'jean marc']
tags: ['sociologie', 'education', 'cameroun', 'PDF']
author: 'Dr.Taptue Pierre'
date: "2021-01-31"
---