---

youtube:
    src: 'https://www.youtube.com/embed/_v7CPSrT8ps'
    width: 700px
    height: 395px

type: video
thumbnail:
    src: "Cultiver le blé pour limiter les importations A l'Université de Dschang.png"
    
description: "Reportage de Labos d'Afrique sur la culture du blé à l'Université de Dschang comme mésure pour limiter les importations."

keywords: ['culture de blé', 'Afrique', 'Dschang', 'Université de Dschang']
tags: [ 'featured', 'economie', 'education', 'agriculture', 'video']
author: 'Dr.Taptue Pierre'
date: "2020-10-17"
---

{# {% import "macros/embeds.njk" as embeds %} #}

{# {{embeds.youtube('https://www.youtube.com/embed/_v7CPSrT8ps')}} #}

{# <iframe width="560" height="auto" src="https://www.youtube.com/embed/_v7CPSrT8ps" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> #}