---

thumbnail:
    src: "livresHistoireGeneraleAfrique.jpg"
    
description: "Huit (08) volumes de l'histoire générale de l'afrique rédigés par d'excellents historiens 
africains comme joseph ki-zerbo, cheikh anta diop, boubou hama, amadou mahtar m'bow, ampaté ba, 
pathé diagne, mohamed talbi, mahdi adamu, andré salifou..., sous la direction de l'UNESCO histoire 
générale de l'afrique : 6 millions d’années d'histoire !"

keywords: ['histoire africaine', 'livres africain', 'culture africaine', 'afrique']
tags: ['histoire', 'afrique', 'featured']
author: 'Dr.Taptue Pierre'
date: "2020-09-27"
---

<div class="w-full py-10 px-2 leading-relaxed font-normal text-gray-800 flex flex-col">
    <p >
    Huit (08) volumes de l'histoire générale de l'afrique rédigés par d'excellents historiens africains 
    comme Joseph Ki-Zerbo, Cheikh Anta Diop, Boubou Hama, Amadou Mahtar M'Bow, Ampaté Ba, Pathé Diagne, 
    Mohamed Talbi, Mahdi Adamu, André Salifou..., sous la direction de l'UNESCO
    histoire générale de l'afrique : 6 millions d’années d'histoire !
    À TÉLÉCHARGER 
    De Toumaï à Nelson Mandela en passant par Lucy, Homo Sapiens, les Nubiens et les Pharaons , 6 millions 
    d'années d'Histoire observent les #Africains modernes. Nous sommes le seul peuple au monde qui peut 
    remonter aussi loin dans l'Histoire pour entendre l'écho de nos ancêtres.
    8 volumes de l'histoire générale de l'afrique rédigés par d'excellents historiens africains.
    Téléchargez gratuitement les 8 volumes en cliquant sur les liens ci-dessous :
 </p>

<ul class="w-auto py-4">
    <li>
        Volume 8 : <a class="text-blue-500  hover:text-blue-600" target="_blank" href="https://lnkd.in/g6F5ZX3">https://lnkd.in/g6F5ZX3</a>
    </li>
        <li>
        Volume 7 : <a class="text-blue-500  hover:text-blue-600" target="_blank" href="https://lnkd.in/gfJs58R">https://lnkd.in/gfJs58R</a>
    </li>
        <li>
        Volume 6 : <a class="text-blue-500  hover:text-blue-600" target="_blank" href="https://lnkd.in/gRkw7yN">https://lnkd.in/gRkw7yN</a>
    </li>
        <li>
        Volume 5 : <a class="text-blue-500  hover:text-blue-600" target="_blank" href="https://lnkd.in/gHgmxHB">https://lnkd.in/gHgmxHB</a>
    </li>
        <li>
        Volume 4 : <a class="text-blue-500  hover:text-blue-600" target="_blank" href="https://lnkd.in/ge2Tcir">https://lnkd.in/ge2Tcir</a>
    </li>
        <li>
        Volume 3 : <a class="text-blue-500  hover:text-blue-600" target="_blank" href="https://lnkd.in/gKpJh6n">https://lnkd.in/gKpJh6n</a>
    </li>
        <li>
        Volume 2 : <a class="text-blue-500  hover:text-blue-600" target="_blank" href="https://lnkd.in/gxZACZT">https://lnkd.in/gxZACZT</a>
    </li>
        <li>
        Volume 1 : <a class="text-blue-500  hover:text-blue-600" target="_blank" href="https://lnkd.in/gFrAUVT">https://lnkd.in/gFrAUVT</a>
    </li>
</ul>
</div>