---
url: https://claudegrasland.github.io/Benin/
thumbnail:
    src: brnin_heatmap.png
description: Article sur un inventaire des données sur le Benin par Claude Grasland de l'ECOLE D’ETE CIST 2022 (Université de Paris (Diderot))

keywords: ['benin', 'statistics']
tags: ['statistics', 'technologie', 'benin', 'afrique', 'education', 'featured']
author: 'Dr.Taptue Pierre'
date: "2021-10-02"
---