---
url: http://covid-19-cameroon.org/la-revanche-du-e-learning-au-cameroun-par-temps-de-coronavirus
thumbnail:
    src: Revanche e-Learning.jpg
description: Le e-leaning prend un empleur considérable en cette période de confinement du au covid-19

keywords: ['e-learning', 'étude en confinement']
tags: ['covid', 'technologie', 'e-learning', 'education', 'cameroun', 'featured']
author: 'Dr.Taptue Pierre'
date: "2020-09-25"
---