---
type: PDF
pdf:
    src: "La rigueur du qualitatif  les contraintes empiriques de l’interprétation socio-anthropologique by Olivier de Sardan, Jean-Pierre (z-lib.org).pdf"


thumbnail:
    src: La rigueur du qualitatif.jpg
description: "La rigueur du qualitatif: Les contraintes empiriques de l’interprétation socio-anthropologique par Olivier de Sardan, Jean-Pierre. 
« Les disciplines empiriques élaborent l’aspect qualitatif de la réalité – et l’histoire en fait partie, ainsi que toutes
les “sciences de la culture” quelles qu’elles soient. »"

keywords: ['sociologie', 'socio-anthropologique', 'histoire', 'culture', 'rigueur du qualitatif']
tags: ['sociologie', 'PDF']
author: 'Dr.Taptue Pierre'
date: "2020-09-29"
---