---
type: PDF
pdf:
    src: Méthodes qualitatives, quantitatives et mixtes  dans la recherche en sciences humaines, sociales et de la santé by Larivière, Nadine Corbière, Marc (z-lib.org).pdf

thumbnail:
    src: Methodes Qualitatives Quantitatives et Mixte.jpg
description: "Methodes qualitatives, quantitatives et mixtes Dans la recherche en sciences humaines,
sociales et de la santé" 

keywords: ['Methodes de recherche', 'Methodes qualitatives', 'Methodes quantitatives', 'sciences humaines', 'sciences sociales']
tags: ['sociologie', 'PDF']
author: 'Dr.Taptue Pierre'
date: "2020-09-22"
---