---
type: PDF
pdf:
    src: Revue de presse - Accord de création Chaire Pierre Castel.pdf

thumbnail:
    src: Signature-de-l’accord-de-création-chaire-Pierre-Castel.jpg
description: "Revue de presse - Accord de création Chaire Pierre Castel.
Le ministre camerounais de l’Enseignement supérieur, Jacques Fame Ndongo, 
a présidé ce 18 janvier 2021, la cérémonie de signature de l’accord entre la Fonds Pierre Castel 
et l’Université de Dschang, en vue de la création d’une Chaire sur les systèmes alimentaires et 
l’entrepreneuriat en Afrique. La Chaire sera abritée par la Faculté d’agronomie et des sciences 
agricoles (Fasa) de cette institution universitaire." 

keywords: ['Revue de presse', 'Pierre Castel', 'Agriculture', 'Education', 'Economie']
tags: ['agriculture', 'education', 'PDF']
author: 'Dr.Taptue Pierre'
date: "2021-01-30"
---