---
type: video 
video:
    src: Reportage Navigator By SK GRoup.mp4 
    width: "600px"

thumbnail:
    src: navigator.png
description: Système anticollision Navigator onçu par SK group, start up française

keywords: ['SK group', 'Navigator', 'Système anticollision', 'start up française', 'technologie', 'innovation', 'découverte']
tags: ['découverte', 'technologie', 'featured', 'video']
author: 'Dr.Taptue Pierre'
date: "2020-06-27"
---