---
title: Courses

---

{% extends "layouts/base.njk" %}

{% block styles %}
<link href="/assets/css/style1.css" media="all" rel="stylesheet" type="text/css" />
{#
<link rel="stylesheet" href="{{bundle.css.index}}"> #}
{% endblock %}

{% block scripts %}
{#
<script src="{{bundle.js.index}}" defer="true"></script> #}
{% endblock %}

{% block banner %}

{% endblock %}

{% block content %}
<div class="cols" id="content">
	<h1 class="title">ACCOUNTING COURSES</h1>
	<ul>
		<li><a href="#" download> Fraud Detection and Control </a></li>
		<li><a href="#" download> Advanced Fraud Detection and Control </a></li>
		<li><a href="#" download> Auditing for Internal Control </a></li>
		<li><a href="#" download> Conducting Internal Investigation </a></li>
		<li><a href="#" download> Forensic Evidence in Litigation </a></li>
		<li><a href="#" download> Contract and Procurement Fraud </a></li>
		<li><a href="#" download> Financial Institution Fraud </a></li>
		<li><a href="#" download> Financial Statement Fraud </a></li>
		<li><a href="#" download> Fraud Prevention </a></li>
		<li><a href="#" download> Fraud Risk Management </a></li>
		<li><a href="#" download> Fundamentals of Money Laundering </a></li>
		<li><a href="#" download> Investigating Fraud in the Workplace </a></li>
		<li><a href="#" download> Advanced Investigation Techniques </a></li>
		<li><a href="#" download> Workplace Investigation and Interviewing </a></li>
		<li><a href="#" download> Forensic Accounting & Auditing </a></li>
		<li><a href="#" download> Preventing Occupational Fraud </a></li>
		<li><a href="#" download> Asset Misappropriation </a></li>
		<li><a href="#" download> The Fraud Policy </a></li>
		<li><a href="#" download> IFRS Conversion Course </a></li>
		<li><a href="#" download> Risk Based Internal Auditing </a></li>
		<li><a href="#" download> Fundamental of Internal Audit </a></li>
		<li><a href="#" download> Financial Planning for Executive Managers </a></li>
		<li><a href="#" download> Credit Management and Collection of Receivables </a></li>
		<li><a href="#" download> Effective Budgeting and Financial Management </a></li>
		<li><a href="#" download> IFRS Fundamentals </a></li>
		<li><a href="#" download> Project Finance Management </a></li>
		<li><a href="#" download> Regulatory Update for Internal Auditors under IFRS </a></li>
		<li><a href="#" download> Public Sector Budgeting </a></li>
		<li><a href="#" download> Fundamentals of Revenue Forecasting </a></li>
		<li><a href="#" download> Cost Control Techniques </a></li>
		<li><a href="#" download> Bank Accounting Consolidation under IFRS </a></li>
		<li><a href="#" download> Bank Accounting Essentials </a></li>
		<li><a href="#" download> Financial Instruments Accounting under IFRS </a></li>
		<li><a href="#" download> Human Resources Payroll Administration </a></li>
		<li><a href="#" download> Excel For Accountants </a></li>
		<li><a href="#" download> Managing Budgets </a></li>
		<li><a href="#" download> Corporate Tax Accounting </a></li>
		<li><a href="#" download> VAT and With-Holding Tax Accounting </a></li>
		<li><a href="#" download> Effective Fraud and Corruption Management </a></li>
		<li><a href="#" download> Managing Church Finances </a></li>
		<li><a href="#" download> How to discover Creative Accounting </a></li>
	</ul>
	<h1 class="title">RISK MANAGEMENT AND GOVERNANCE COURSES</h1>
	<ul>
		<li><a href="#" download> Foreign Corrupt Practices Act </a></li>
		<li><a href="#" download> UK Bribery Act </a></li>
		<li><a href="#" download> Corruption in Infrastructure Projects </a></li>
		<li><a href="#" download> Corporate Governance </a></li>
		<li><a href="#" download> Risk Assessment and Introduction to Internal control </a></li>
		<li><a href="#" download> Risk Management Best Practices </a></li>
		<li><a href="#" download> Public Private Partnership </a></li>
	</ul>
	<h1 class="title">BANKING AND FINANCE COURSES</h1>
	<ul>
		<li><a href="#" download> Finance for Non-Finance Managers </a></li>
		<li><a href="#" download> Capital Market Overview </a></li>
		<li><a href="#" download> Equity Market Mechanics </a></li>
		<li><a href="#" download> Fundamentals of Interest Rate Market </a></li>
		<li><a href="#" download> Fundamentals of the Credit Market </a></li>
		<li><a href="#" download> Mechanism of the Foreign Exchange Market </a></li>
		<li><a href="#" download> Basel II Frame Work </a></li>
		<li><a href="#" download> Basel II Credit Risk Management </a></li>
		<li><a href="#" download> Basel II Market Risk Assessment </a></li>
		<li><a href="#" download> Basel II Operational Risk Assessment </a></li>
		<li><a href="#" download> Asset/Liability Management </a></li>
		<li><a href="#" download> Banks Internal Control and Compliance </a></li>
		<li><a href="#" download> Anti-Money Laundering and Terrorism Finance </a></li>
		<li><a href="#" download> Equity Portfolio Management </a></li>
		<li><a href="#" download> Bond Portfolio Management </a></li>
		<li><a href="#" download> Understanding Socially Responsible Investment </a></li>
		<li><a href="#" download> Islamic Finance Overview </a></li>
		<li><a href="#" download> Selection and Management of Sharia Compliant Funds </a></li>
		<li><a href="#" download> Bond and Fixed Income Trading Workshop </a></li>
		<li><a href="#" download> Treasury Management </a></li>
		<li><a href="#" download> Fundamentals of Corporate Finance </a></li>
		<li><a href="#" download> Understanding Financial Statement </a></li>
		<li><a href="#" download> Financial Modeling </a></li>
		<li><a href="#" download> Treasury Products Workshop </a></li>
		<li><a href="#" download> Strategic Financial Management </a></li>
		<li><a href="#" download> Working Capital and Debtors Management </a></li>
		<li><a href="#" download> Corporate Valuation and Takeover </a></li>
		<li><a href="#" download> Finance in Competitive Strategy </a></li>
		<li><a href="#" download> Investment Skill Management </a></li>
	</ul>
	<h1 class="title">GENERAL MANAGEMENT AND LEADERSHIP COURSES</h1>
	<ul>
		<li><a href="#" download> Fundamentals of Business Process Re-Engineering </a></li>
		<li><a href="#" download> Competitive Strategy </a></li>
		<li><a href="#" download> Managing Change, People and Process </a></li>
		<li><a href="#" download> Organizational People Management </a></li>
		<li><a href="#" download> Quality Management </a></li>
		<li><a href="#" download> Emotional Intelligence </a></li>
		<li><a href="#" download> Dealing with Conflict and Complaints </a></li>
		<li><a href="#" download> Change Management </a></li>
		<li><a href="#" download> Records and Information Management </a></li>
		<li><a href="#" download> Leadership Mentoring and Motivation </a></li>
		<li><a href="#" download> Competency Framework </a></li>
		<li><a href="#" download> Effective Secretary/Personal Assistant Course </a></li>
		<li><a href="#" download> Internal Communication Management </a></li>
		<li><a href="#" download> Managing Work Place Diversity </a></li>
		<li><a href="#" download> Value Based Leadership </a></li>
		<li><a href="#" download> Introduction to Corporate Social Responsibility </a></li>
		<li><a href="#" download> Effective Corporate Social Responsibility </a></li>
		<li><a href="#" download> Organizing and Running Effective Meetings </a></li>
		<li><a href="#" download> Team Building </a></li>
		<li><a href="#" download> Balance Score Card Employees Perspective </a></li>
		<li><a href="#" download> Customer Relation Management </a></li>
		<li><a href="#" download> Managing Stress </a></li>
		<li><a href="#" download> Work and Life Balance </a></li>
		<li><a href="#" download> Hotel Customer Relations Management </a></li>
		<li><a href="#" download> Work Attitude for Local Government Workers </a></li>
		<li><a href="#" download> Women in Leadership </a></li>
		<li><a href="#" download> Business Etiquette </a></li>
		<li><a href="#" download> Counseling Skills </a></li>
		<li><a href="#" download> Telephone Etiquette </a></li>
		<li><a href="#" download> Developing Executive Management Capacity </a></li>
		<li><a href="#" download> Strategy for Organizational Improvement </a></li>
		<li><a href="#" download> People Management </a></li>
	</ul>
	<h1 class="title">HUMAN RESOURCES MANAGEMENT COURSES</h1>
	<ul>
		<li><a href="#" download> Performance Management </a></li>
		<li><a href="#" download> Reward Management </a></li>
	</ul>
	<h1 class="title">SUPPLY CHAIN MANAGEMENT</h1>
	<ul>
		<li><a href="#" download> Supply Chain Management I </a></li>
		<li><a href="#" download> Supply Chain Management II </a></li>
		<li><a href="#" download> Inventory Management </a></li>
	</ul>
</div>
<div class="cl"></div>
{% endblock %}